<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <!-- Visibilite des apps ciblees (Android 11+) -->
    <queries>
        <package android:name="com.facebook.katana" />
        <package android:name="com.facebook.lite" />
        <package android:name="com.instagram.android" />
        <package android:name="com.instagram.lite" />
        <package android:name="com.whatsapp" />
        <package android:name="com.whatsapp.w4b" />
        <package android:name="com.zhiliaoapp.musically" />
        <package android:name="com.ss.android.ugc.trill" />
        <package android:name="com.twitter.android" />
        <package android:name="com.snapchat.android" />
        <package android:name="com.google.android.youtube" />
        <package android:name="com.discord" />
        <package android:name="com.pinterest" />
        <package android:name="com.linkedin.android" />
        <package android:name="org.telegram.messenger" />
        <package android:name="com.reddit.frontpage" />
    </queries>

    <application
        android:label="DJK Opener"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="false">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Ecran natif affiche par-dessus une app bridee -->
        <activity
            android:name=".BlockActivity"
            android:exported="false"
            android:theme="@style/BlockTheme"
            android:launchMode="singleInstance"
            android:excludeFromRecents="true" />

        <!-- Service d'accessibilite qui detecte l'ouverture des apps ciblees -->
        <service
            android:name=".MonitorAccessibilityService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:exported="false">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>

        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
</manifest>
